.rightbar {
  width: 500px;
  transition: width 0.3s ease;
  position: relative;
}

.rightbar.collapsed {
  width: 50px;
}

.toggle-button {
  /* position: absolute;  */
  bottom: 20px;
  right: 20px;
  z-index: 999;
  padding: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.toggle-button:hover {
  background-color: #eee; /* Màu nền khi di chuột qua nút */
}