.container-stat {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  padding: 20px;
  /* height: 100vh; */
}

.button-container-stat {
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  justify-content: center;
}

.year-button-stat {
  margin: 5px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.year-button-stat:hover {
  background-color: #0056b3;
}

.month-stat-button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .month-stat-button:hover {
    background-color: #218838;
  }

  .pagination-stat {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .pagination-stat button {
    margin: 0 5px;
    padding: 8px 12px;
    font-size: 14px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .pagination-stat button:hover {
    background-color: #0056b3;
  }