<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/dashboard}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QUYÊN GÓP HIỆN KIM</title>
</head>

<body>
    <div class="main-content container-fluid" layout:fragment="content">
        <div class="card-body px-0 pb-0">
            <h1 class="text-center text-info">QUYÊN GÓP HIỆN KIM</h1>
            <div class="table-responsive mt-5" style="max-height: 400px; overflow-x: hidden; overflow-y: auto;">
                <table class='table mb-0' id="table1">
                    <thead>
                        <tr>
                            <th>DỰ ÁN</th>
                            <th>TÀI KHOẢN QUYÊN GÓP</th>
                            <th>SỐ TIỀN QUYÊN GÓP</th>
                            <th>NGÀY QUYÊN GÓP</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="p : ${payment}">
                            <td th:text="${p.project.title}"></td>
                            <td th:text="${p.user.username}"></td>
                            <td th:text="${#numbers.formatDecimal(p.donateAmount, 0, 'COMMA', 0, 'POINT')}"></td>
                            <td th:text="${p.donateDate}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>



        <div class="mt-5">
            <h2>BÁO CÁO HÀNG THÁNG</h2>
            <div class="row">
                <div class="col-md-6" th:each="year : ${yearlyYearsWithData}">
                    <div th:each="month : ${#numbers.sequence(1, 12)}">
                        <a th:href="@{/api/payment-export/(period='monthly', year=${year}, month=${month})}"
                            class="btn btn-primary mt-2 col-md-6" th:text="'Tháng ' + ${month} + ' năm ' + ${year}"></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="mt-5">
            <h2>BÁO CÁO HÀNG QUÝ</h2>
            <div class="row">
                <div class="col-md-6" th:each="year : ${yearlyYearsWithData}">
                    <div th:each="quarter : ${#numbers.sequence(1, 4)}">
                        <a th:href="@{/api/payment-export/(period='quarterly', year=${year}, quarter=${quarter})}"
                            class="btn btn-primary mt-2 col-md-6" th:text="'Quý ' + ${quarter} + ' năm ' + ${year}"></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="mt-5">
            <h2>BÁO CÁO HÀNG NĂM</h2>
            <div class="row">
                <div class="col-md-6" th:each="year : ${yearlyYearsWithData}">
                    <div>
                        <a th:href="@{/api/payment-export/(period='yearly', year=${year})}" class="btn btn-primary mt-2"
                            th:text="'Năm ' + ${year}"></a>
                    </div>
                </div>
            </div>
        </div>


    </div>

</body>

</html>